<!DOCTYPE html>
<html ng-app="mainModule">
<head>
	<title>Contact Collector</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
</head>

<body>
	<div class="container" ng-controller="FormCtrl">
		<h1 class="md-display-4 heading" >Stereo Base</h1>
		<h3 class="md-display-1 heading">Please fill out the following form</h3>
			<md-content class="md-no-momentum">
		    <md-input-container class="md-icon-float md-block">
		      <!-- Use floating label instead of placeholder -->
		      <label>Name</label>
		      <md-icon md-svg-src="img/icons/ic_person_24px.svg" id="person" class="name"></md-icon>
		      <input ng-model="user.name" type="text">
		    </md-input-container>

		    <md-input-container md-no-float class="md-block">
		      <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
		      <input ng-model="user.phone" type="text" placeholder="Phone Number">
		    </md-input-container>

		    <md-input-container class="md-block">
		      <!-- Use floating placeholder instead of label -->
		      <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
		      <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
		    </md-input-container>

		    <md-input-container md-no-float class="md-block">
		      <input ng-model="user.address" type="text" placeholder="Address" >
		      <md-icon md-svg-src="img/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon>
		    </md-input-container>

		    <md-input-container class="md-icon-float md-icon-right md-block">
		      <label>Donation Amount</label>
		      <md-icon md-svg-src="img/icons/ic_card_giftcard_24px.svg"></md-icon>
		      <input ng-model="user.donation" type="number" step="0.01">
		      <md-icon md-svg-src="img/icons/ic_euro_24px.svg"></md-icon>
		    </md-input-container>
		    <!-- <h1>{{user.name}}</h1> -->
			<md-button type ="submit" md-no-ink class="md-primary" ng-click="addContact()">Submit</md-button>
	  	</md-content>
	</div>


	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
	<script type="text/javascript" src="controller.js"></script>
</body>

</html>
